@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Narrow:wght@500&family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-1{
    background-image: url('./assets/bg-2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.animate-icons{
    position: relative;
    animation: mymove 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes mymove {
    0% {left: 0px;}
    50% {left: 7px;}
    100% {left: 0px;}
}

.social-card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.gifcorrect{ 
    filter: invert(100%) sepia(80%) hue-rotate(180deg) saturate(100); 
}
.anton{
    font-family: 'Archivo Narrow';   
 }

/*
-- Option 2 --
@media screen and (min-width: 980px ) {
    .bg-1 {
        background-image: url('./assets/background-1.jpg') ;
    }
} */
.underline-hover{
    transition: all .5s ease;
}
.underline-hover:hover{
    text-decoration: underline;    
}
.custom-button-1{
    background-color: #fcfcfc;
    color : #205295;
    transition: all .5s ease;
}
.custom-button-1:hover {
    color: #fcfcfc;
    background-color: transparent;
    border: 1px solid #fcfcfc;
}
.custom-button-2{
    background-color: #205295;
    color: #fcfcfc;
    transition: all .5s ease;
}
.grid-gap{
    background-color: blueviolet;
}

.custom-button-2:hover {
    color: #fcfcfc;
    background-color: transparent;
    border: 1px solid #fcfcfc;
}

.nav{
    height: 1em;
}

.write{
    font-family:'Shadows Into Light';
    padding-left: 10px;
}
.glass{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.heading{
    font-family: 'Anton';
}
.tech{
    background: url('./assets/blue-gradient.jpg');
}
.arial{
    font-family: "Archivo Narrow";
}

.project-body {
    position: relative;
    width: 100%;
  }
  
  .proj-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .project-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .project-body:hover .proj-img {
    opacity: 0.3;
  }
  
  .project-body:hover .project-text {
    opacity: 1;
  }
  
.img{
    width: 400px;
    height: auto;
    object-fit: cover;
}
.img-2{
    width: 100%;
    height: auto;
    object-fit: cover;

}

